*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

nav{
    list-style: none;
    padding: 10px;
    background-color: rgb(206, 101, 166);
    
}
ul li{
    display: inline;
    padding: 0.5px  20px;
    
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(137, 151, 151);
    
}

.box1{
    background-color: rgb(185, 98, 111);
    width: 500px;
    height: 350px;
    /* padding: 40px ; */
    
}
.box2{
    background-color: rgba(56, 212, 212, 0.925);
    width: 500px;
    height: 350px;
    /* padding: 40px ; */
    
}
.box3{
    
    background-color: green;
    height: 250px;
    position: relative;
    width: 240px;
   top: 340px ;
   bottom: 350px;

}
